<app-page-header></app-page-header>
<div class="content">
  <div class="operations">
    <div class="operation">
      <button>Continue Shopping</button>
    </div>
    <div class="operation">
      <button>Remove Item(s)</button>
    </div>
    <div class="operation">
      <button>Continue Shopping</button>
    </div>
    <div class="clear"></div>
  </div>
  <div class="cart-items">
    <div class="cart-item">
      <table class="tbl-item">
        <tbody>
          <tr>
            <td>
              <input type="checkbox">
            </td>
            <td>
              <img class="med-img" src="/assets/img/med1.JPG">
            </td>
            <td>
              <div>Product Name</div>
              <div>SKU#</div>
              <div>NDC#</div>
              <div>Description</div>
            </td>
            <td>
              ABC
            </td>
            <td>
              <div>Quantity</div>
              <div>55</div>
            </td>
            <td>
              <div>Price</div>
              <div>$1,111.11</div>
            </td>
            <td>
              <div>Total Amount</div>
              <div>$61,111.05</div>
            </td>
            <td>
              <div>
                <input type="checkbox"> Recurring Order</div>
              <div>
                <input type="checkbox"> Future Order</div>
            </td>
            <td>
              <img class="cal" src="/assets/img/cal.JPG">
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox">
            </td>
            <td>
              <img class="med-img" src="/assets/img/med2.JPG">
            </td>
            <td>
              <div>Product Name</div>
              <div>SKU#</div>
              <div>NDC#</div>
              <div>Description</div>
            </td>
            <td>
              ABC
            </td>
            <td>
              <div>Quantity</div>
              <div>55</div>
            </td>
            <td>
              <div>Price</div>
              <div>$1,111.11</div>
            </td>
            <td>
              <div>Total Amount</div>
              <div>$61,111.05</div>
            </td>
            <td>
              <div>
                <input type="checkbox"> Recurring Order</div>
              <div>
                <input type="checkbox"> Future Order</div>
            </td>
            <td>
              <img class="cal" src="/assets/img/cal.JPG">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="operations">
    <div class="operation">
      <button>Continue Shopping</button>
    </div>
    <div class="operation">
      <button>Remove Item(s)</button>
    </div>
    <div class="operation">
      <button>Continue Shopping</button>
    </div>
    <div class="clear"></div>
  </div>
</div>
